module_2/applicant_data.json.jsonl
module_2/llm_hosting/models/
.env
module_3/__pycache__
Reflection on GradCafe Data.docx
query_data.docx
module_4/src/__pycache__
module_4/tests/__pycache__
module_4/.pytest_cache
module_4/ov=src



