{% extends 'base.html' %}

{% block header %}
  <h2 class="home-title">{% block title %}Isabel Hunt{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <div class="home-intro">
    <div class="home-copy">
      <h3>Flight Operations Engineer at STScI</h3>
      <p>Isabel works on the James Webb Space Telescope Mission as a Flight Operations Engineer.
        This work involves sending commands to the telescope and monitoring the telemetry of the
        spacecraft to ensure the health and safety of the mission.
      </p>
      <p>
        Isabel holds a Bachelors Degree in Mechanical Engineering from Temple University. She 
        was a member of the 2021 cohort of <a href="https://www.brookeowensfellowship.org/" target="_blank" rel="noopener noreferrer">Brooke Owens Fellows</a> where she worked at Made In Space.
        In her spare time she enjoys knitting and reading. She lives in Baltimore with her two cats,
        Toast and Crusty. 
      </p>
    </div>
    <img
      class="profile-photo"
      src="{{ url_for('static', filename='images/profile.jpg') }}"
      alt="Portrait of Isabel Hunt"
    >
  </div>
{% endblock content %}
