{% extends 'base.html' %}

{% block header %}
  <h2 class="home-title">{% block title %}Projects{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <div class="home-intro">
    <div class="home-copy">
      <h3>Creating a personal website (kinda meta)</h3>
      <p>Use a Flask framework to create a personal website. Find the source code on
        <a href="https://github.com/isabelhunt/jhu_software_concepts/tree/main/Module%201/board" target="_blank" rel="noopener noreferrer">GitHub</a>.
      </p>
    </div>
  </div>
{% endblock content %}
